@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #F6F1F1;
    color: #F6F1F1;
    font-size: 16px;

}


/*   Navbar */

#logo {
    margin-left: 1rem;
    width: 62.1px;
    height: 31.4px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EA5455;
    padding: 1.1rem;
    font-family: 'Poppins', sans-serif;
    z-index: 9;


}



nav a {
    flex: 1;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFAF4;
}

body>nav>ul {
    margin-bottom: 0;
}



input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

label {
    display: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    padding-left: 0;
}

nav ul a {
    position: relative;
    font-size: 1.2rem;

}

nav ul a:after {
    content: "";
    position: absolute;
    background-color: #FFFAF4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}



nav ul a:hover::after {
    width: 100%;
}


.fa-bars:before,
.fa-navicon:before {
    content: "\f0c9";
    margin-right: 1rem;

}

@media screen and (max-width: 710px) {

    #navbar>ul {
        background-color: #EA5455;
    }

    label {
        display: block;
    }

    ul {
        display: flex;
        gap: 3rem;
        font-size: 1rem;
        position: absolute;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #EA5455;
        top: 60px !important;
        width: 100%;
        max-height: calc(100vh - 60px) !important;
        transition: 0.5s;
        padding-top: 3rem;
        padding-bottom: 1500px;
        overflow-y: hidden;
    }

    ul a {
        font-size: 1.8rem;
    }

    input[type="checkbox"]:checked~ul {
        left: 0;
    }

    ul a:hover {
        border-bottom: 2px solid #F6F1F1;
    }
}


/*   Hero */

.container-hero {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 3rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: #222831;
    text-align: center;
}

.hero-photo {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}

body>div.container-hero>div.hero-photo>img {
    height: 800px;
    width: 800px;
    margin: 0 auto !important;
}

body>div.container-hero>div.hero-photo>img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

body>div.container-hero>div.hero-section>h1 {
    font-size: 8rem;
    font-family: 'Lilita One', cursive;
    flex: 1;
}

body>div.container-hero>div.hero-section>p {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    flex: 1;
    max-width: 1000px;
    color: rgba(33, 37, 41, 0.75);
}

@media (max-width: 2000px) {
    .container-hero {
        margin-left: 2rem;
    }

    body>div.container-hero>div.hero-photo>img {
        height: 700px;
        width: 700px;
    }

    body>div.container-hero>div.hero-section>h1 {
        font-size: 6.5rem;
    }

    body>div.container-hero>div.hero-section>p {
        font-size: 1.9rem;
        max-width: 800px;
    }
}




@media (max-width: 1600px) {
    .container-hero {
        margin-left: 2rem;
    }

    body>div.container-hero>div.hero-photo>img {
        height: 370px;
        width: 370px;
    }

    body>div.container-hero>div.hero-section>h1 {
        font-size: 4rem;
    }

    body>div.container-hero>div.hero-section>p {
        font-size: 1.5rem;
        max-width: 700px;
    }
}


@media (max-width: 1000px) {
    .container-hero {
        margin-left: 0;
    }

    body>div.container-hero>div.hero-photo>img {
        height: 300px;
        width: 300px;
    }

    body>div.container-hero>div.hero-section>h1 {
        font-size: 2.5rem;
    }

    body>div.container-hero>div.hero-section>p {
        font-size: 1rem;
        min-width: 250px;
    }


}

@media (max-width: 550px) {
    .container-hero {
        margin-left: 0;
    }

    body>div.container-hero>div.hero-photo>img {
        height: 220px;
        width: 220px;
    }

    body>div.container-hero>div.hero-section>h1 {
        font-size: 2.8rem;
    }

    body>div.container-hero>div.hero-section>p {
        font-size: 0.9rem;
        min-width: 250px;
    }



}


@media (max-width: 685px) {
    .arrows {
        width: 100%;
        height: 71px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 3% !important;
    }
}


/* Arrow */
.arrows {
    width: 100%;
    height: 71px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 10%;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}




/* About */

body>div.container.px-4.py-5>h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
}

.about-image-portfolio {
    height: 25px;
    width: 25px;
}

/* portfolio*/

#projects>div>h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
}


.about-image {
    height: 50px;
    width: 50px;
}

#about>div>div:nth-child(2)>div>div>h4 {
    font-size: calc(1rem + .3vw);
}

#about>h2 {
    padding-top: 25px;
}




@media (min-width: 2500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1800px;
    }

}


#portfolio {
    background-color: #F6F1F1 !important;
}

#portfolio>h2 {
    margin: 35px 0;
}


#resume {
    background-color: #EA5455;
    color: #FFFAF4;
    border: none;
    padding: 5px 20px;
    font-size: 1.2rem;
}

#resume:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;

}




/* Footer */


.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA5455;
    color: #FFFAF4;
    width: 100%;
    height: 50px;
    gap: 1rem;
}

.heading-footer {
    font-family: 'Lilita One', cursive;
    font-size: 2.4rem;
}


#contact-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;

}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #F6F1F1;
}

.contact-me {
    background-color: #EA5455;
    height: 170px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

body>div.icon-section>a>img {
    width: 30px;
    height: 30px;
}

@media (max-width:550px) {
    .contact-me {
        height: 140px;
        width: 250px;
    }

    .heading-footer {

        font-size: 1.8rem;
    }

}

/*  Loader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #16a085;
    animation: spin 1.7s linear infinite;
    z-index: 11;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #205295;
    animation: spin-reverse .6s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #EA5455;
    z-index: 10;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}




/* Hidden & Show */

.hidden-left {
    opacity: 0;
    filter: blur(0px);
    transition: opacity 1.5s ease-in-out, filter 1.5s ease-in-out, transform 1.5s ease-in-out;
    transform: translateX(-100%);
}

.show-left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-right {
    opacity: 0;
    filter: blur(0px);
    transition: opacity 1.5s ease-in-out, filter 1.5s ease-in-out, transform 1.5s ease-in-out;
    transform: translateX(100%);
}

.show-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}